.Container1{
  background-color: #1f2937;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}
ul{
  display:flex;
  gap: 12px;
}
li.Logo{
  margin-right:auto;
} 
.cards{
  display: flex;
}
.card1{
  display:flex;
  flex-direction:column;
  margin-right:auto;
}


